<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización PDB</title>
    <script src="https://3Dmol.org/build/3Dmol-min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Visualizador de PDB (FoldSeek)</h1>
    <div class="viewer-container" id="viewer"></div>

    <script>
        let viewer = $3Dmol.createViewer("viewer", {
            backgroundColor: "white"
        });

        // Cargar referencia
        viewer.addModel(`{{ ref_pdb }}`, "pdb");
        viewer.setStyle({}, {cartoon: {color: 'lightblue'}});

        // Cargar objetivo alineado
        viewer.addModel(`{{ aligned_pdb }}`, "pdb");
        viewer.setStyle({model: 1}, {cartoon: {color: 'orange'}});

        viewer.zoomTo();
        viewer.render();
    </script>
</body>
</html>
